* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* .container {
	margin: 1rem;
	text-align: center;
} */

.nav {
	background-color: #104177;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 2rem;
	padding: 0 1rem;
	height: 3.5rem;
}

.site-title {
	font-size: 2rem;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
}

.nav ul > button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.nav a {
	color: inherit;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0.25rem;
}

.nav li.active {
	background-color: #555;
}

.nav li:hover {
	background-color: #777;
}

.red-border {
	border: 1px solid red;
}

.icon {
	align-self: center;
	color: white;
}

/* Chart Styling */
.chartCard {
	width: 100vw;
	height: calc(100vh - 3.5rem);
	background-image: linear-gradient(#ffffff, #e1e1e1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.chartBox {
	width: 1000px;
	padding: 20px;
	border-radius: 10px;
	border: solid 3px #104177;
	background: white;
	display: flex;
}

.colSmall {
	width: 40px;
}

.colLarge {
	max-width: 1000px;
	overflow-x: scroll;
}

.box {
	width: calc(1000px - 40px);
	height: 600px;
}
